.cm_btn {
  display: block !important;
  justify-content: center;
  color: #fff !important;
  width: 92%;
  max-width: 380px;
  padding: .6em;
  font-size: 1.32rem;
  font-weight: 600 !important;
  letter-spacing: .02em;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
  text-shadow: 0px 1px 12px rgba(0,0,0,0.6) !important;
  margin: 14px auto;
  border-radius: 4em;
  background: #007aff;
  background: linear-gradient(135deg, #007aff, #4831ff) !important;
}
